html {
    background-color: rgb(24, 24, 24);
    text-align: center;
    color: white;
}

.container {
    margin: auto;
    width: 85vw;
    height: 40vw;
}

#c {
    width: 75%;
    height: 100%;
    /* width: 255px;
    height: 255px; */
    float: right;
    /* background-color: white; */
}

.menu {
    width: 23%;
    height: 100%;
    float: left;
    text-align: left;
    background-color: rgb(73, 73, 73);
    overflow: auto;
    border-radius: 5px;
    font-size: 20px;
}

.menu div {
    margin: 20px;
}

input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=range] {
    width: 100%;
}